button {
    position: fixed;
    top: 10px;
    right: 20px;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    box-shadow: 0 0 20px rgb(68, 68, 68);
    background-color: #ffffff;
    font-size: .8rem;
    font-family: 'Archivo Black', sans-serif;
    border: none;
    padding: auto;
    text-align: center;
    text-anchor: middle;
}